<div id="navbar-sm">
  <div class="nav-wrapper">
    <%# Logo link to home %>
    <%= link_to :root, id:"link-home" do %>
      <%= image_tag "logo.png", class:"navbar-logo" %>
    <% end %>
    <div class="toggle-menu", onclick="this.nextElementSibling.classList.toggle('toggle');">
      <div class="line line1"></div>
      <div class="line line2"></div>
      <div class="line line3"></div>
    </div>
    <div class="nav-bar">
      <div class="nav-links">
        <ul class="nav-list">
          <li class="nav-list-item"><%= link_to  "How it works", how_it_works_path, class:"button button-clear" %></li>
          <li class="nav-list-item"><%= link_to  "Pricing", pricing_path, class:"button button-clear" %></li>
          <li class="nav-list-item"><%= link_to  "Updates", :root, class:"button button-clear" %></li>
          <li class="nav-list-item"><%= link_to  "Support", :root, class:"button button-clear" %></li>
        </div>
        <div class="nav-devise">
          <% if user_signed_in? %>
            <li class="nav-list-item"><%= link_to "Log out", destroy_user_session_path, class:"button button-clear", method: :delete%></li>
          <% else %>
            <li class="nav-list-item"><%= link_to  "Log in", new_user_session_path, class:"button button-clear"%></li>
            <li class="nav-list-item"><%= link_to  "Sign up",  new_user_registration_path, class:"button button-outline"%></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
<div id="navbar">
  <div class="nav-wrapper">
    <%# Logo link to home %>
    <%= link_to :root, id:"link-home" do %>
      <%= image_tag "logo.png", class:"navbar-logo" %>
    <% end %>
    <%# navigation links %>
    <div class="nav-links">
      <%= link_to  "How it works", how_it_works_path, class:"button button-clear" %>
      <%= link_to  "Pricing", pricing_path, class:"button button-clear" %>
      <%= link_to  "Updates", :root, class:"button button-clear" %>
      <%= link_to  "Support", :root, class:"button button-clear" %>
    </div>
    <%# Authentification link %>
    <div class="nav-devise">
      <% if user_signed_in? %>
        <%= link_to "Log out", destroy_user_session_path, class:"button button-clear", method: :delete%>
      <% else %>
        <%= link_to  "Log in", new_user_session_path, class:"button button-clear"%>
        <%= link_to  "Sign up",  new_user_registration_path, class:"button button-outline"%>
      <% end %>
    </div>
  </div>
</div>
