<div class="navbar-container">
  <%# Logo link to home %>
  <%= link_to :root do %>
    <%= image_tag "logo.png", class:"navbar-logo" %>
  <% end %>
  <div class="nav-links">
    <%= link_to  "How it works", :root %>
    <%= link_to  "Pricing", :root %>
    <%= link_to  "Updates", :root %>
    <%= link_to  "Support", :root %>
  </div>
  <div class="nav-devise">
    <%= link_to  "Log in", new_user_session_path %>
    <%= link_to  "Sign up",  new_user_registration_path %>
  </div>
</div>
