<div id="home">
  <div class="home-card" id="banner">
    <div class="content">
      <h1>The #1 platform for restaurants to <strong>capture feedback, drive satisfaction</strong> and <strong>accelerate direct sales.</strong></h1>
      <div class="button-wrapper">
        <%= link_to  "Get started for free!", :root, class:"button button-outline" %>
        <%= link_to  "Book a demo", :root, class:"button" %>
      </div>
    </div>
    <div class="img-wrapper">
      <%= image_tag "banner-phone"%>
    </div>
  </div>
  <div id="customers">
    <h3>Generated over 120.000 customer insights for leading restaurants globally</h3>
    <%= render  "shared/infinite_slide" %>
  </div>
  <div class="home-card revert">
    <div class="img-wrapper">
      <%= image_tag "delivery-gift"%>
    </div>
    <div class="content">
      <h2><strong>Capture dine-in and delivery feedback</strong></h2>
      <p>Your dine-in and delivery customers complete a fun, 1-minute feedback survey on their phone. In return they get a loyalty incentive to be redeemed for a commission free dine-in or pickup order.</p>
    </div>
  </div>
  <div data-controller="carousel" class="swiper-container w-25 my-5"
    data-carousel-options-value='{
    "autoplay": { "delay": 2500,
                "disableOnInteraction": "false"},
    "pagination": { "el": ".swiper-pagination",
                    "dynamicBullets": "true" },
    "navigation": { "nextEl": ".swiper-button-next",
                    "prevEl": ".swiper-button-prev"}}'>
    <!-- Pagination (... or 1/10 or progress bar) -->
    <div class="swiper-pagination"></div>

  <!-- Navigation buttons (< >) -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
    <div class="swiper-wrapper">
    <!-- Slides -->
      <%= render  'layouts/testimonial', customers: @customers %>
    </div>
  </div>
  <div class="home-card">
    <div class="content">
      <h2><strong>Learn what makes your guests happy</strong></h2>
      <p>All your customer feedback shows up in a simple-to-use performance dashboard. Understand which venues and waiters do well and directly contact customers to learn more. Act on feedback and see your customer ratings improve over time.</p>
      <%= link_to  "See demo dashboard!", :root, class:"button" %>
    </div>
    <div class="img-wrapper">
      <%= image_tag "dashboard"%>
    </div>
  </div>
  <div id="grow">
    <%= image_tag "burger", class:"section-img"%>
    <h2 class="section-title">Grow direct revenue</h2>
    <div class="cards">
      <div class="card">
        <%= image_tag "moneybag"%>
        <h3><strong>Save up to 40% in delivery commissions</strong></h3>
        <p>Put a Tablevibe QR code on your food delivery packages to unlock customer data and accelerate direct re-orders.</p>
      </div>
      <div class="card">
        <%= image_tag "spaceship"%>
        <h3><strong>Boost repeat business</strong></h3>
        <p>In return for their honest feedback, customers get a reward for their next order or visit. We delivered 1000s of repeat customers to existing partners</p>
      </div>
      <div class="card">
        <%= image_tag "google-logo"%>
        <h3><strong>Get better Google reviews</strong></h3>
        <p>Improve your online reputation by encouraging positive guests to share their feedback directly on Google</p>
      </div>
    </div>
  </div>
</div>
