<div id="how-it-works">
  <div id="title">
    <h1>How it works</h1>
    <p>Tablevibe helps you own and grow your customer relationships in minutes. It can be used on a self-serve basis and does not require any technical implementation</p>
    <%= image_tag "woman-missile" %>
  </div>
  <div id="explanations">
    <div class="row row-step">
      <div class="step-number">
        <%= image_tag "number1"%>
      </div>
      <div class="step-box-wrapper">
        <h2>Get started</h2>
        <p>Sign up to experience the benefits of Tablevibe. We offer relevant solutions for restaurants and cloud kitchens of any size.</p>
      </div>
      <%= image_tag "curly-lines-lr", class:"curly-lines"%>
    </div>
    <div class="row row-step right">
      <div class="step-number">
        <%= image_tag "number2"%>
      </div>
      <div class="step-two-rows">
        <div class="step-box-wrapper">
          <h2>Experience types</h2>
          <p>Select if you would like to capture feedback from dine-in, delivery or both types of customers. Your surveys will be up an running in seconds!</p>
        </div>
        <div class="step-box-bottom-wrapper row">
            <div class="step-box-bottom">
              <%= image_tag "cutlery" %>
              <p>Dine in</p>
            </div>
            <div class="step-box-bottom">
              <%= image_tag "scooter" %>
              <p>Delivery</p>
            </div>
        </div>
        <%= image_tag "curly-lines-rl", class:"curly-lines"%>
      </div>
    </div>
  </div>
</div>
